@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts-styles";
@use "icons";

.for-buyers {
	padding: rem(30) 0;
	// .for-buyers__title
	&__title {
	}
	// .for-buyers__body
	&__body {
		margin-top: rem(50);
	}
	// .for-buyers__block
	&__block {
		&:not(:last-child) {
			margin-bottom: rem(75);
			@media (min-width: $md3) {
				margin-bottom: rem(100);
			}
			@media (min-width: $md1) {
				margin-bottom: rem(150);
			}
		}
	}
	// .for-buyers__caption
	&__caption {
		@media (min-width: $md4) {
			padding: 0 rem(36);
		}
		@media (min-width: $md3) {
			padding: 0 rem(184);
		}
	}
	// .for-buyers__text
	&__text {
		margin-top: 1.875rem;
		font-weight: 700;
		font-size: 1.25rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
		@media (min-width: $md1) {
			font-size: 1.875rem;
		}
		&.text-large {
			@media (min-width: $md3) {
				font-size: 2rem;
			}
			@media (min-width: $md1) {
				font-size: 2.5rem;
			}
		}
		& ul {
			list-style: disc;
			padding-left: 1.5em;
		}
	}
}

.policy {
	padding: rem(65) 0;
	@media (min-width: $md3) {
		padding: rem(130) 0;
	}
	// .policy__block
	&__block {
		border: rem(3) solid #e65c10;
		@media (min-width: $md4) {
			border: rem(6) solid #e65c10;
		}
		&:not(:last-child) {
			border-bottom: 0;
		}
		&:first-child {
			border-radius: 1.875rem 1.875rem 0 0;
		}
		&:last-child {
			border-radius: 0 0 1.875rem 1.875rem;
		}
	}
	// .policy__caption
	&__caption {
		justify-content: space-between;
		display: flex;
		align-items: center;
		padding: em(1.81, 2.1875);
		cursor: pointer;
		user-select: none;
		font-size: 1.25rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
		@media (min-width: $md3) {
			font-size: 1.75rem;
		}
		@media (min-width: $md2) {
			font-size: 2.1875rem;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			order: 1;
			transition: transform 0.3s ease;
		}
	}
	// .policy__content
	&__content {
		text-align: center;
		display: none;
		padding: em(2.75, 1.75) em(1, 1.75);
		border-top: rem(3) solid #e65c10;
		@media (min-width: $md4) {
			border-top: rem(6) solid #e65c10;
			padding: em(2.75, 1.75) em(3.12, 1.75);
			font-size: 1.5rem;
		}
		@media (min-width: $md3) {
			font-size: 1.75rem;
		}
		@media (min-width: $md2) {
			padding: 5.75rem 3.12rem;
			font-size: 1.875rem;
		}
	}
}
