@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Bahnschrift';
                            font-display: swap;
                            src: url("../fonts/Bahnschrift.woff") format("woff"), url("../fonts/Bahnschrift.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
