@font-face {
	font-family: "Bahnschrift";
	src: url("../fonts/Bahnschrift.woff2") format("woff2 supports variations"), url("../fonts/Bahnschrift.woff2") format("woff2-variations"),
		url("../fonts/Bahnschrift.woff") format("woff");
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
