@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.header {
	position: sticky;
	top: 0;
	z-index: 6;
	background: $dark;
	// .header__main
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $dark;
		padding: rem(15) 0;
		.custom-logo-link {
			position: relative;
			z-index: 6;
			display: block;
			height: auto;
			max-width: rem(150);
			@media (min-width: $md3) {
				max-width: rem(200);
			}
			@media (min-width: $md1) {
				max-width: rem(390);
			}
			& img {
				height: 100%;
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__cart
	&__cart {
		position: relative;
		z-index: 6;
		color: $accent;
		transition: color 0.3s ease;
		font-size: 3.5rem;
		&[data-quantity="0"] {
			&::after {
				display: none;
			}
		}
		&::after {
			content: attr(data-quantity);
			position: absolute;
			top: 0.5rem;
			right: -2rem;
			height: 2rem;
			color: #000;
			font-size: 1.875rem;
			padding: 0 2rem;
			background: #f4f8f4;
			display: flex;
			align-items: center;
			text-align: center;
			clip-path: polygon(em(30, 30) 0, 100% 0, calc(100% - em(30, 30)) 100%, 0 100%);
			-webkit-clip-path: polygon(em(30, 30) 0, 100% 0, calc(100% - em(30, 30)) 100%, 0 100%);
		}
		@media (min-width: $md3) {
			font-size: 5rem;
		}
		@media (min-width: $md1) {
			font-size: 7.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $grey;
			}
		}
	}
	// .header__cart-count
	&__cart-count {
	}
	// .header__actions
	&__actions {
		display: flex;
		gap: 1rem;
	}
}

.menu {
	@media (max-width: $md4) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		padding: 5.5rem 1rem 2rem;
		background: $dark;
		transform: translateY(-100%);
		opacity: 0;
		visibility: hidden;
		transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
		.header.open-mobile-menu & {
			transform: none;
			opacity: 1;
			visibility: visible;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		row-gap: 0.5rem;
		text-align: center;
		flex-shrink: 0;
		flex-direction: column;
		@media (min-width: $md4) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	&-item {
		a {
			padding: em(8, 30) em(30, 30);
			font-weight: 700;
			position: relative;
			z-index: 1;
			display: block;
			transition: color 0.3s ease;
			clip-path: polygon(em(50, 30) 0, 100% 0, calc(100% - em(50, 30)) 100%, 0 100%);
			-webkit-clip-path: polygon(em(50, 30) 0, 100% 0, calc(100% - em(50, 30)) 100%, 0 100%);
			font-size: rem(18);
			width: 100%;
			@media (min-width: $md4) {
				width: em(250, 30);
			}
			@media (min-width: $md3) {
				font-size: rem(24);
			}
			@media (min-width: $md1) {
				font-size: rem(30);
			}
			&[aria-current="page"] {
				color: $dark;
				&::before {
					background: $white;
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: $accent;
				transition: background-color 0.3s ease;
				clip-path: polygon(em(50, 30) 0, 100% 0, calc(100% - em(50, 30)) 100%, 0 100%);
				-webkit-clip-path: polygon(em(50, 30) 0, 100% 0, calc(100% - em(50, 30)) 100%, 0 100%);
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						background: $grey;
					}
				}
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem 0.25rem;
	width: 3.5rem;
	height: 3.5rem;
	color: $accent;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: $md4) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(4) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(4);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	&.active {
		color: $grey;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(12));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-12));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
